<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAPReader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
        <add name="ConString" connectionString="Data Source=SRVMSQL.stulz.it;Initial Catalog=STARQR1;Persist Security Info=True;User ID=star;Password=!Update"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SAPReader.My.MySettings>
            <setting name="SAPReader_SapSOAPOut_ZWS_MES_OUTBOUND_1" serializeAs="String">
                <value>http://it-sqr1e01.stulz.it:8001/sap/bc/srt/rfc/sap/zws_mes_outbound_1/300/zws_mes_outbound_1/zws_mes_outbound_1_b</value>
            </setting>
            <setting name="SAPReader_SapSOAPin2_ZWS_MES_INBOUND_2" serializeAs="String">
                <value>http://it-sqr1e01.stulz.it:8001/sap/bc/srt/rfc/sap/zws_mes_inbound_2/300/zws_mes_inbound_2/zws_mes_inbound_2_b</value>
            </setting>
            <setting name="SAPReader_SapSOAPin4_ZWS_MES_INBOUND_4" serializeAs="String">
                <value>http://it-sqr1e01.stulz.it:8001/sap/bc/srt/rfc/sap/zws_mes_inbound_4/300/zws_mes_inbound_4/zws_mes_inbound_4_b</value>
            </setting>
            <setting name="SAPReader_SAPSOAPin5_ZWS_MES_INBOUND_5" serializeAs="String">
                <value>http://it-sqr1e01.stulz.it:8001/sap/bc/srt/rfc/sap/zws_mes_inbound_5/300/zws_mes_inbound_5/zws_mes_inbound_5_b</value>
            </setting>
            <setting name="SAPReader_SapSOAPin_ZWS_MES_INBOUND_1" serializeAs="String">
                <value>http://it-sqr1e01.stulz.it:8001/sap/bc/srt/rfc/sap/zws_mes_inbound_1/300/zws_mes_inbound_1/zws_mes_inbound_1_b</value>
            </setting>
        </SAPReader.My.MySettings>
    </applicationSettings>
</configuration>